{% extends 'courses/base.html' %}

{% block content %}
    <div class="container">
        <h1>Select the membership</h1>
        <div class="row">
            {% for obj in object_list %}
                <div class="col-sm-4 col-md-4">
                    <h2>{{ obj.membership_type }}</h2>
                    <p>Price: ${{ obj.price }}</p>
                    <h4>Included Courses</h4>
                    <ul>
                        {% for course in obj.course_set.all %}
                            <li>{{ course }}</li>
                        {% endfor %}
                    </ul>
                    {% if obj.membership_type != 'Free' %}
                        <form action="{% url 'memberships:select' %}" method="POST">
                            {% csrf_token %}
                            {% if obj.membership_type != current_membership %}
                                <button class="btn btn-warning">Select</button>
                            {% else %}
                                <small>This is your current membership</small>
                            {% endif %}
                            <input type="hidden" name="membership_type" value="{{ obj.membership_type }}">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}